#For the Watcher modes
watchdog

#For the Google Drive Watcher
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

#For reading .docx files from Google Drive
python-docx

#For "Sentinel Vision" (RPA / "Hands")
pyautogui
pyperclip

#For "Sentinel Vision" (RPA / "Eyes")
llama-cpp-python[server]
Pillow
mss

#For "Sentinel Agent" (RPA / "Memory")
chromadb
peewee

#For "Sentinel Agent" (RPA / "Perception")
pygetwindow
psutil
pywin32